.header-logo, .header-title, .header-subtext, .header-topbar {
    background-color: #1F2937;
    font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.header-subtext, .header-topbar {
    font-size: 18px;
    color: #E5E7EB;
}